{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="jumbotron" style="background-color: #33fcff">
        <h1 class="display-4" style="color: #4933ff">Happy Free Minds</h1>
        <h2>Conférences, Ateliers & Coaching</h2>
        <p class="lead">Parce que tout le monde mérite d'être heureux, des clés pour apprendre à l'être d'avantage...</p>
        <hr class="my-4">
        <p>Dans une dynamique de groupe conviviale et bienveillante, venez faire le plein d'Energie Positive, repartir avec des clés concrètes pour mettre plus de bonheur dans votre Vie</p>
        <p><i>"J'ai décidé d'être Heureux car c'est bon pour la Santé"</i> Voltaire</p>
        <p>Inscription au 06 81 51 50 25</p>
    </div>
{% endblock %}

