{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/7hhVeRqfcjo"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9hxjKnDN_QY"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    {% for theme in themes %}
        <button class="btn btn-default">{{ theme.title }}</button>
    {% endfor %}
    <br>
    {% for video in videos %}
        <iframe width="560" height="315" src={{ video.path }}
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    {% endfor %}


{% endblock %}